{% extends "base.html" %}

{% block content %}


<link rel="stylesheet" href="/static/css/stylesmainpage.css">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo">RateMy<strong>UNIVERSITY</strong></div>
    <ul class="links">
        <div class="dropdown">
            <button class="dropbtn"><strong>{{ session['user']['name'] }}</strong></button>
            <div class="dropdown-content">
                <strong>{{ session['user']['name'] }}</strong>
                <strong>{{ session['user']['email'] }}</strong>
            </div>
        </div>
        <a href="/user/signout"><img class="logout" src="/static/images/logout.svg"></a>
    </ul>
</nav>
<div class="main">
    <section class="searchbox">
        <form action="" method="" autocomplete="off">
            <h2>Search for any University you want</h2>
            <div class="search">
                <input type="text" placeholder="Search for a University" id="search" class="search-box">
                <button>Search</button>
            </div>
            <div class="scroll">
                <div class="suggestions" id="suggestions">
                    <!-- suggestions from js will be inserted here -->
                </div>
                <div class="addnew suggestions">
                    <li><h2>+ add new</h2></li>
                </div>
            </div>
        </form>
    </section>
</div>
<script src="/static/js/mainpage.js"></script>
{% endblock %}